body {
  height: 100vh;
}


.menu {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

ul  li {
  list-style: none;
}

ul li a {
  color: black;
  text-decoration: none;
  font-size: 22px;
  display: block;
  padding: 10px 15px;
  position: relative;
}

/*

  MENU GROWING

*/

.menu.one {
  background-color: yellow;
}


.one ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  transform: scaleX(0);
  transition: all 0.5s;
  transform-origin: left;
}

.one ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  transform: scaleX(0);
  transition: all 0.5s;
  transform-origin: right;
}

.one ul li a:hover::before,
.one ul li a:hover::after{
  transform: scaleX(1);
}


/*

  MENU BORDERS

*/
.menu.two {
  background-color: aqua;
}

.two a::before {
  content: "";
  position: absolute;
  bottom: 12px;
  left: 12px;
  width: 12px;
  height: 12px;
  border: 3px solid black;
  border-width: 0 0 3px 3px;
  opacity: 0;
  transition: all 0.3s;
}

.two a:hover::before {
  opacity: 1;
  bottom: -8px;
  left: -8px;
}

.two a::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 12px;
  width: 12px;
  height: 12px;
  border: 3px solid black;
  border-width: 3px 3px 0 0;
  opacity: 0;
  transition: all 0.3s;
}

.two a:hover::after {
  opacity: 1;
  top: -8px;
  right: -8px;
}

/*

  MENU SPLITTED

*/
.menu.three {
  background-color: orange;
}

.three a {
  transition: all 0.5s;
  z-index: 1;
  color: black;
}

.three a:hover {
  color: orange;
}

.three ul li span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: black;
  z-index: -2;
  top: 0;
  left: 0;
  transform: scaleY(0);
  transition: all 0.5s;
  transform-origin: top;
}

.three a:hover span {
  transform: scaleY(1);
}

.three ul li span:nth-child(2){
  left: 25%;
  transition-delay: 0.15s;
}

.three ul li span:nth-child(3){
  left: 50%;
  transition-delay: 0.3s;
}

.three ul li span:nth-child(4){
  left: 75%;
  transition-delay: 0.45s;
}

/*

  MENU MOVING

*/
.four a::before {
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  width: 0;
  height: 5px;
  background-color: skyblue; 
  transition: all 0.7s;
}

.four a:hover:before{
  width: 50%;
  transform: translateX(100%);
}

.four a::after {
  content: "";
  position: absolute;
  top: 120%;
  right: 0;
  width: 0;
  height: 5px;
  background-color: pink;
  transition: all 0.7s;
}

.four a:hover::after{
  width: 50%;
  transform: translateX(-100%);
}

/*

  MENU BLURRY

*/
.five {
  background-color: lightseagreen;
}

.five ul:hover a {
  filter: blur(3px);
}

.five ul a:hover {
  filter: blur(0);
}

.five li {
  transition: 0.5s;
}

.five a {
  color: white;
  display: block;
  position: relative;
  transition: all 0.3s;
}

.five a:hover {
  transform: scale(1.5);
  z-index: 1;
}

.five a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: orange;
  transition: 0.4s;
  transform: scale(0);
  z-index: -1;
}

.five a:hover::before {
  transform: scale(1);
}


/*

  MENU BORDERS

*/
.six {
  background-color: blue;
}

.six a {
  transition: all .5s;
  color: white;
  z-index: 1;
}

.six a:hover {
  color: blue;
}

.six a::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scaleY(1.5);
  transition: .5s;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  
}

.six a:hover::before{
  transform: scaleY(1.2);
  opacity: 1;
}

.six a::after {
  position: absolute;
  content: "";
  top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: .5s;
  transform: scale(0);
  z-index: -1;
}

.six a:hover::after {
  transform: scale(1);
}


/*

  MENU SNIPER

*/
.seven {
  background-color: gray;
}

.seven a {
  color: white;
  margin: 0 20px;
}


.seven a:hover {
  color: yellow;
}


.seven a span:first-child::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-top: 2px solid yellow;
  border-left: 2px solid yellow;
  transition: .2s;
  opacity: 0;
}

.seven a span:first-child::after{
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-top: 2px solid yellow;
  border-right: 2px solid yellow;
  transition: .2s;
  opacity: 0;
}

.seven a span:last-child::before{
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-bottom: 2px solid yellow;
  border-left: 2px solid yellow;
  transition: .2s;
  opacity: 0;
}

.seven a span:last-child::after{
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-bottom: 2px solid yellow;
  border-right: 2px solid yellow;
  transition: .2s;
  opacity: 0;
}


.seven a:hover span:first-child::before {
  top: -10px;
  left: -10px;
  opacity: 1;
}

.seven a:hover span:first-child::after {
  top: -10px;
  right: -10px;
  opacity: 1;
}

.seven a:hover span:last-child::before {
  bottom: -10px;
  left: -10px;
  opacity: 1;
}

.seven a:hover span:last-child::after {
  bottom: -10px;
  right: -10px;
  opacity: 1;
}